@charset "utf-8";
html{
	scroll-behavior: smooth;
	// @media (prefers-reduced-motion: reduce) {
	// 	html {
	// 		scroll-behavior: auto;
	// 	}
	// }
}
html,
body{
	height: 100%;
    margin: 0;
    padding: 0;
	-webkit-text-size-adjust : none;
	-ms-text-size-adjust : none;
	-moz-text-size-adjust : none;
	-o-text-size-adjust : none;
	scroll-behavior: smooth;
	&:has(.pop-sample){
		&.dimmed {
			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				z-index: 100;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(27,30,35, .5);
			}
			.pop-float-layer{
				display: block;
				margin-top: 50px;
				top: auto;
				left: auto;
				position: relative;
				transform: translate(0);
			}
		}
	}
}
body{
	overflow:hidden; 
}
section,
body,
html{
	height:100%;
}
.wrap {
    height: 100%;
}
::selection {
	background-color: $color-gray-13;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
	display: block;
}
body {
	font-weight: 400;
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: $color-black-1;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
}
body:lang(en) {
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
}
body:lang(ja) {
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
}
img {
	max-width: 100%;
	border: 0px;
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: $color-black-1;
}
a{
	&.disabled {
		cursor: none;
		pointer-events: none;
	}
}
input,
button,
select,
textarea {
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: $color-black-1;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background: none;
	vertical-align: middle;
	appearance: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}
input:lang(en),
button:lang(en),
select:lang(en),
textarea:lang(en) {
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
}
input:lang(ja),
button:lang(ja),
select:lang(ja),
textarea:lang(ja) {
	font-family: 'Jost', 'Noto Sans KR', sans-serif;
}
button{
	&:disabled,
	&.disabled {
		cursor: none;
		pointer-events: none;
	}
}
hr {
	display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	color: $color-black-1;
	font-weight: 700;
	// mix-blend-mode: difference;
}
p {
	margin: 0px;
	// mix-blend-mode: difference;
}
ul,
ol {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
dl,
dt,
dd {
	padding: 0px;
	margin: 0px;
}
div{
	&::-webkit-scrollbar {
		width: 2px;
		height: 0;
	}
	&::-webkit-scrollbar-button{
		&:start {
			display: block;
			height: 0;
		}
		&:end {
			display: block;
			height: 0;
		}
		&:vertical:increment, &:vertical:decrement {
			display: block;
			height: 0;
		}
		&:horizontal:increment, &:horizontal:decrement {
			display: block;
			width: 0;
		}
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 0px;
	}
	&::-webkit-scrollbar-track-piece {
		display: block;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #3A3A3A;
		border-radius: 0px;
		background-clip: padding-box;
		border: 0px solid transparent;
	}
	&::-webkit-scrollbar-corner {
		display: block;
		height: 0;
	}
	&::-webkit-resizer {
		display: block;
		height: 0;
	}
}
.lectures-index-list{
	&::-webkit-scrollbar {
		width: 6px;
		height: 0;
	}
	&::-webkit-scrollbar-button{
		&:start {
			display: block;
			height: 0;
		}
		&:end {
			display: block;
			height: 0;
		}
		:vertical:increment {
			display: block;
			height: 0;
		}
		:vertical:decrement {
			display: block;
			height: 0;
		}
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 0px;
	}
	&::-webkit-scrollbar-track-piece {
		display: block;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #3A3A3A;
		border-radius: 0px;
		background-clip: padding-box;
		border: 0px solid transparent;
	}
	&::-webkit-scrollbar-corner {
		display: block;
		height: 0;
	}
	&::-webkit-resizer {
		display: block;
		height: 0;
	}
}
table {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	table-layout: fixed;
}
caption {
	text-indent: -9999px;
	overflow: hidden;
	height: 2px;
	margin-top: -2px;
}
th,
td {
	padding: 0px;
}
th {
	font-weight: 700;
}
fieldset {
	overflow: hidden;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
legend {
	position: absolute;
	top: -9999px;
	left: -9999px;
	text-indent: -9999px;
	overflow: hidden;
}
figure {
	margin: 0px;
	padding: 0px;
}
strong,
b {
	color: $color-black-1;
	font-weight: 700;
}
.hidden_cont {
	text-indent: -9999px;
	overflow: hidden;
	height: 2px;
	margin: -2px 0px 0px !important;
}
.only-pc{
	display: block;
}
.only-mo{
	display: none;
}
br.pc-br {
	display:block;
}
br.mo-br {
	display:none;
}
@include mobile {
	.only-pc{
		display: none !important;
	}
	.only-mo{
		display: block !important;
	}
	br.pc-br {
		display:none;
	}
	br.mo-br {
		display:block;
	}
}
.skip{
	position: relative;
    z-index: 3000;
	a{
		position: absolute;
		top: -30px;
		left: 0;
		width: 138px;
		border: 1px solid $color-green-5;
		background-color: $color-black-3;
		text-align: center;
		opacity: 0;
	}
}
// 숨김텍스트(웹접근성)
.sr-only {
	position:absolute !important;
	left:0;
	height:1px !important;
	width:1px !important;
	padding:0 !important;
	border:0 !important;
	clip:rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path:inset(50%) !important;
	clip-path:inset(50%) !important;
	white-space:nowrap !important;
	overflow:hidden !important
}

/* page loading */
#load {
	display: block;width: 100%;height: 100%;
	position: fixed;top: 0;left: 0;
	text-align: center;opacity: 0.6;
	background: #ffffff;
	background-image: url(#{$img-url}/common/check_loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60px 60px;
	z-index: 99999;
}
