
/* Container */
#container {
	position: relative;
	// margin-top: 79px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
    height: 100%; /* 부모 요소가 화면을 가득 채우도록 */
	// full
	// display: flex;
    // flex-direction: column;

	.scr{
		h3{
			@supports (font-size: clamp(1rem, 3vw, 20rem)) {
				h3 {
				  font-size: clamp(16px, 8vw, 128px);
				}
			}
			position: absolute;
			bottom: -5rem;
			left: 10px;
			opacity: 0.6;
			transition: opacity 1s ease; 
			// transition: all 0.5s;
			// transition-delay: 0.5s;
			// font-size: clamp(1rem, 3vw, 20rem);
			
		}
		&.fx {
			// position: fixed;
			// position: sticky;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10; /* 다른 요소들 위에 표시되도록 */
			transition: background-color 0.3s ease; /* 배경색 부드럽게 전환 */
			@supports (font-size: clamp(1rem, 3vw, 20rem)) {
				h3 {
				  font-size: clamp(1rem, 10vw, 20rem);
				}
			}
			h3{
				color: #FF9800;
				position: absolute;
				bottom: 65%;
				left: 0;
				opacity: 1;
				transition: opacity 1s ease; 
				// transition: all 0.5s;
				// transition-delay: 0.5s;
				// font-size: clamp(1rem, 10vw, 20rem);
			}
		}
	}
	// .poptop{
		
	// }
	section[class*="-section"] {
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
		min-height: 100vh;
		// display: block;
		// background-color: $color-black-3;
		background-color: transparent;
		// full
		// flex: 1;
		/* 모든 section이 동일한 비율로 화면을 채움 */
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		// &:nth-child(odd) {
		// 	background-color: $color-green-2;
		// }
		// &:nth-of-type(even) {
		// 	color: #f8f9ff;
		// 	background-color: $color-purple-7;
		// }
		// &:first-child {
		// 	background-color: $color-orange-3;
		// }
		// &:last-child {
		// 	background-color: $color-orange-3;
		// }
		mix-blend-mode: difference;
		[class*="-head"],
		[class*="-body"]{
			width: 100%;
			box-sizing: border-box;
			// max-height: 100vh;
			// position: relative;
			// overflow-y: auto;
			outline: 0;
			.inner {
				min-height: 100%;
				/* .inner가 100% 높이를 유지하도록 설정 */
			}
		}
		[class*="-head"]{
			width: 100%;
			height: 100%; /* 예시: 고정된 높이 */
			border-bottom: 2px dashed $color-black;

			background: #ff3434;
			mix-blend-mode: difference;
			// transition: all 0.5s ease;
			// &.reset {
			// 	min-height: initial;
			// 	max-height: initial;
			// 	min-height: auto;
			// 	max-height: 15%;
			// }
			h3{
				word-break: break-word;
				// font-size: 150px;
				// font-size: 10rem;
				// font-size: clamp(1rem, 10vw, 20rem);
				letter-spacing: -0.05em;
			}
		}
		[class*="-body"]{
			// display: flex;
			// flex-direction: column;
			// justify-content: center;

			// width: 100%;
			// flex: 1;
			 /* 남은 공간을 차지 */
			// overflow-y: auto;
			 /* 높이가 넘치면 스크롤 */
			.inner {
				min-height: 100%;
				/* .inner가 100% 높이를 유지하도록 설정 */
			}
		}
		&[id$="-sub"]{
			// min-height: inherit;
			height: auto;
		}
	}
	[id*="-sub"]{
		border-bottom: 2px inset #940707;
		.inner{
			padding: 8rem 4rem;
		}
	}
	
	.links-section {
		@supports (font-size: clamp(16px, 5vw, 34px)) {
			a {
			  font-size: clamp(16px, 8vw, 90px);
			}
		}
		// font-size: 8rem;
		// font-size: clamp(최소사이즈, 기준점, 최대사이즈);
		// font-size: clamp(16px, 3vw, 80px);
		text-align: center;
		justify-content: flex-end;
		font-weight: 600;
		ul{
			// padding: 65px;
			padding: 4.5rem 1rem 8.5rem;
			li{
				margin: 1rem 0;
			}
		}
		sup{
			font-size: 1.5rem;
			font-weight: 800;
		}
	}

	// .projects-section{}

	// move compo
	.approach-grid{
		.appr-text {
			@include txt(28);
			margin-bottom: 20px;
		}
	}
	.work-list-grid{
		.list-text-div{
			display: flex;
			align-items: baseline;
			gap: 40px;
		}
		.list-year{
			@include txt(80);
			font-weight: 500;
			// font-size: $text-font-size-80;
		}
		.list-text{
			width: 70%;
		}
	}

	.management-grid{
		margin: 0 -4rem -8rem;
		.mana-label,
		.mana-title{
			// background: #ff3434;
		}
		img{
			max-width: 500px;
		}
		.mana-item{
			padding: 40px 80px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			// justify-content: space-between;
		}
		.mana-label{
			// flex-grow: 1;
			width: 48%;
			height: 100px;
			// margin-bottom: 2%;
		}
		.mana-row{
			margin: 50px 0;
			// background-color: #fff;
			// background-color: $color-gray-04;
			// *{border: 1px dotted #333;}
			// .mana-item{
			// 	display: flex;
			// 	flex-wrap: wrap;
			// 	// justify-content: space-between;
			// }
			// .mana-label{
			// 	// flex-grow: 1;
			// 	width: 48%;
			// 	height: 100px;
			// 	margin-bottom: 2%;
			// }
			.mana-title{
				margin-left: 2%;
			}
			.mana-text{
				// width: 100%;
				width: 70%;
				ul{
					// display: flex;
					// justify-content: space-around;
					ul{
						display: block;
						li{
							width: 100%;
						}
					}
				}
				li{
					// width: calc( 100% / 3 );
					display: flex;
					justify-content: flex-start;
					span{
						width: 200px;
						@include txt(24);
						font-weight: 700;
					}
				}
			}
			.mana-image{width: 70%;}
			.mana-link{
				width: 100%;
				width: 70%;
				dl{
					min-width: 250px;
				}
			}
		}
		.mana-col{
			margin: 50px 0;
			display: flex;
			// *{border: 1px dotted #d12d2d;}
			.mana-item{
				width: 100%;
				position: relative;
			}
			.mana-text{
				width: 100%;
				height: 500px;
				display: inline-flex;
				flex-direction: row-reverse;
				gap: 20px;
			}
			.mana-image{
				// position: fixed;
				// z-index: -1;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
			}
			// .mana-link{}
		}
		.mana-slice-3-alltxt{
			margin: 50px 0 0;
			// background-color: #fff;
			display: flex;
			flex-direction: column;
			// background-image: url(https://cdn.pixabay.com/photo/2024/05/11/06/07/ai-generated-8754034_1280.jpg);
			background-image: url(https://cdn.pixabay.com/photo/2024/06/10/15/05/flower-8820894_1280.png);
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			.mana-item{
				padding-bottom: 40px;
				// background: linear-gradient(90deg, pink, orange);
				&:nth-child(2),
				&:nth-child(4){
					background: url(https://cdn.pixabay.com/photo/2022/05/02/11/39/floral-7169439_1280.png);
					background-repeat: no-repeat;
					background-position: center;
					background-attachment: fixed;
					background-size: cover;
				}
			}
			.mana-group{
				width: 38%;
				min-height: 700px;
			}
			.mana-label{
				@include txt(48);
				font-weight: 700;
				width: initial;
				height: initial;
			}
			.mana-link{
				width: 100%;
			}
		}
	}

	// 아래부터는 옛날꺼다 

	#contents-head + .contents-body,
	#contents-head + .lnb-wrap + .contents-body {
		margin-top: 0;
	}
	.contents-body {
		min-height:600px;
		margin-top: 80px;
		padding-bottom: 200px;
	}
	.panel {
		position: relative;
		max-width: 1152px;
		margin: 0 auto;
		box-sizing: border-box;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		&[class*='wide'] {
			width: 100%;
			max-width: 100%;
		}
		&[class*='w876'] { // 주문,결제 완료 화면
			max-width: 876px;
		}
		&[class*='w665'] { // 주문,결제 완료 화면
			max-width: 713px;
		}
		&[class*='w1280'] {
			max-width: 1280px;
		}
	}
	.inner {
		position: relative;
		// max-width: 1104px;
		margin: 0 auto;
		padding-left: 24px;
		padding-right: 24px;
		&[class*='w1280'] {
			max-width: 1280px;
		}
	}
	/*snb*/
	.snb-wrap {
		float: left;
		padding-left: 24px;
		width: 188px;
		.snb-inner {
			.snb-title {
				@include txt(24);
				margin-bottom: 24px;
				font-weight: 700;
			}
			.snb-sub-title {
				font-weight: 700;
				@include txt(14);
				color: $color-gray-08;
			}
			.snb-menu {
				ul {
					li {
						margin-top: 12px;
						a, button {
							position: relative;
							display: flex;
							align-items: center;
							box-sizing: border-box;
							width: 100%;
							min-height: 32px;
							padding: 10px 32px 10px 16px;
							@include txt(14);
							font-weight: 700;
							border-radius: 4px;
							cursor: pointer;
							&::before {
								content: '';
								display: block;
								@include posRight($right: 16px);
								width: 16px;
								height: 16px;
								background: no-repeat center;
								background-size: contain;
							}
							&:hover:not(.active) {
								background-color: $color-gray-20;
							}
						}
						a {
							&::before {
								background-image: icon(next, 484848);
							}
							&.active {
								background-color: #9AAAF1;
								color: $color-white;
								&::before {
									background-image: icon(next, fff);
								}
							}
						}
						button {
							&::before {
								background-image: icon(down, 484848);
							}
							&.active::before {
								transform: translateY(-50%) rotate(-180deg);
							}
							&:hover {
								background-color: $color-gray-20;
							}
							// &.active {
							// 	& + .snb-menu-2deps {
							// 		display:block;
							// 	}
							// }
						}
					}
				}
				& + .snb-sub-title {
					padding-top: 24px;
					margin-top: 24px;
					border-top: 1px solid $color-gray-11;
				}
			}
		}
		/*모바일에서 멀티 드롭다운 case*/
		&.snb-dropdown {
			.snb-inner {
				.snb-fake-label {
					cursor: pointer;
					position: relative;
					width: 100%;
					box-sizing: border-box;
					text-align: left;
					@include txt(14);
					border: 1px solid $color-gray-11;
					border-radius: 4px;
					padding: 10px 44px 10px 12px;
					display: none;
					&::before {
						content: '';
						width: 20px;
						height: 20px;
						@include posRight($right: 12px);
						background: no-repeat center;
						background-image: icon(down);
					}
				}
				.snb-menu {
					overflow-y: auto;
					ul {
						li {
							a {
								&::before {
									display: none;
								}
							}
						}
					}
					.snb-menu-2deps {
						display: none;
						li {
							a {
								padding: 10px 24px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}

		& + .inner {
			padding-left: 252px;
		}
	}
	/* 서브 페이지별 공통 여백 (제품 유/무료, 비즈니스) [D]이외 추가 확인되면 페이지명을 추가 해주세요 */
	.gom-content-inner-wrap {
		padding-top: 120px;
		padding-bottom: 0;
		&.full {
			padding-top: 64px;
			padding-bottom: 80px;
			margin-top: 120px;
		}
	}
	.gom-content-inner {
		padding-top: 64px;
	}
	.gom-use-guide-inner-wrap {
		padding-top: 80px;
		.gom-use-guide-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			padding: 40px 100px 40px 60px;
			margin: 0;
			background: #F8F9FF;
			border-radius: 10px;
			h2 {
				text-align: left;
			}
			p {
				&:nth-of-type(1) {
					margin-top: 12px;
					@include txt(16);
				}
				&:nth-of-type(2) {
					margin-top: 20px;
					@include txt(12);
				}
			}
			.gom-use-guide-img {
				display: flex;
				gap: 24px;
				font-size: 0;
				img {
					width: 80px;
					height: 80px;
					object-fit: contain;
				}
			}
		}
	}
	/* // 서브 페이지별 공통 여백 (제품 유/무료, 비즈니스) */
	.content-footer {
		padding: 80px 0;
		background: $color-gray-21;
		&.marquee-banner {
            padding: 80px 0 100px;
            // background-color: __to_opacity($color-blue-9, '1A');
			.partners-list {
				display: flex;
				.marquee-part {
					display: flex;
					gap: 24px;
					span {
						display: block;
						width: 200px;
						height: 80px;
						&:nth-child(1) {
							padding-left: 24px;
						}
					}
				}
			}
        }
	}
}

/* Sub Content */
.sub-contents {
	position: relative;
	padding: 94px 0px 200px;
	.sc-inner {
		width: 1400px;
		margin: 0px auto;
	}
	h2.sc-tit {
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -0.78px;
	}
	.snb {
		display: flex;
		gap: 0px 35px;
		padding: 0px 46px;
	}
}

@include desktop {
}
@include tablet {
	#container {
		margin-top: 48px;
		.management-grid{
			.mana-col{
				.mana-text{
					display: inline-flex;
					flex-direction: column;
					gap: 20px;
					text-align: right;
				}
			}
			.mana-slice-3-alltxt{
				.mana-item{
					justify-content: flex-start;
				}
				.mana-group:last-child{
					width: calc(100% - 40%);
				}
			}
		}
	}
}
@include mobile {
	#container {
		.scr{
			h3:last-child{
				bottom: -8rem;
				line-height: 0.85;
			}
		}

		[id*=-sub]{
			.inner{
				padding: 8rem 1.5rem;
			}
		}
		
		.management-grid{
			margin: 0 -1.5rem -8rem;
			.mana-item{
				padding: 40px 24px;
				flex-direction: column;
			}
			.mana-row{
				.mana-text{
					width: 100%;
					&>ul{
						margin-top: 20px;
					}
					ul{
						margin-bottom: 20px;
						ul{
							text-indent: 15px;
						}
					}
					li{
						flex-direction: column;
					}
				}
			}
			.mana-row,
			.mana-col{
				.mana-item {
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: flex-start;
					padding-top: 100px;
				}
			}
			.mana-col{
				.mana-text{
					height: initial;
					flex-direction: column;
				}
			}
			.mana-slice-3-alltxt{
				.mana-group{
					width: initial;
					min-height: 180px;
				}
			}
		}
		.work-list-grid{
			.list-text-div{
				gap: 0;
				flex-direction: column;
				padding-bottom: 40px;
			}
			.list-text{
				width: 100%;
			}
		}

		h3{
			font-size: 4rem;
		}
		.contents-body {
			margin-top: 40px;
			padding-bottom: 150px;
		}
		.panel {
			.snb-dropdown:first-child {
				.snb-inner {
					.snb-fake-label {
						margin-bottom: 40px;
					}
				}
			}
			&[class*='w665'] { // 주문,결제 완료 화면
				max-width: 100%;
			}
		}
		/*snb*/
		.snb-wrap {
			float: unset;
			width: auto;
			padding: 0 24px;
			.snb-inner {
				.snb-title {
					@include txt(20);
					margin-bottom: 20px;
				}
			}
			/*상단 고정 형태 snb*/
			&.snb-fix {
				.snb-inner {
					.snb-title {
						display: none;
					}
					.snb-menu {
						position: fixed;
						left: 0;
						top: 48px;
						background-color: $color-white;
						box-sizing: border-box;
						width: 100%;
						z-index: 15;
						ul {
							padding: 0 24px;
							display: flex;
							overflow: auto;
							-ms-overflow-style: none;
							scrollbar-width: none;
							border-bottom: 1px solid $color-gray-11;
							li {
								margin: 0;
								a {
									text-align: center;
									white-space: nowrap;
									display: inline-flex;
									align-items: center;
									justify-content: center;
									box-sizing: border-box;
									padding: 0;
									height: 36px;
									&::before {
										display: none;
									}
									&.active {
										color: $color-black-1;
										background-color: transparent;
										&::after {
											content: '';
											width: 100%;
											height: 2px;
											background-color: $color-black-1;
											@include posBottom;
										}
									}
								}
								& + li {
									margin-left: 20px;
								}
							}
							&::-webkit-scrollbar {
								display: none;
							}
						}
					}
				}
			}
			& + .inner {
				padding: 0 24px;
			}
			/*모바일에서 멀티 드롭다운 case*/
			&.snb-dropdown {
				width: auto;
				.snb-inner {
					position: relative;
					.snb-fake-label {
						display: block;
					}
					.snb-menu {
						background-color: $color-white;
						border: 1px solid $color-gray-11;
						border-radius: 4px;
						position: absolute;
						top: 48px;
						z-index: 2;
						width: 100%;
						box-sizing: border-box;
						display: none;
						ul {
							li {
								margin-top: 0;
								a {
									padding: 10px 12px;
								}
								button {
									padding-left: 40px;
									&::before {
										right: unset;
										left: 12px;
									}
									&.active {
										background-color: $color-gray-20;
										color: $color-black-1;
									}
								}
							}
						}
						.snb-menu-2deps {
							display: none;
						}
					}
				}
			}
		}
		.gom-content-inner-wrap {
			padding-top: 80px;
			&.first {
				padding-top: 64px;
			}
			&.full {
				padding-top: 48px;
				padding-bottom: 60px;
				margin-top: 80px;
			}
		}
		.gom-content-inner {
			padding-top: 32px;
		}
		.gom-use-guide-inner-wrap {
			padding-top: 64px;
			.gom-use-guide-wrap {
				position: relative;
				display: block;
				padding: 24px 0;
				h2 {
					@include txt(18);
				}
				p {
					&:nth-of-type(1) {
						margin-top: 10px;
						@include txt(14);
					}
				}
				.gom-use-guide-img {
					padding-left: 64px;
					justify-content: flex-end;
					flex-wrap: wrap;
					gap: 20px;
					margin-top: 16px;
					img {
						width: 64px;
						height: 64px;
					}
				}
				&::before {
					position: absolute;
					z-index: -1;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 100vw;
					height: 100%;
					background-color: #f8f9ff;
					content: "";
				}
			}
		}
		.content-footer {
			padding: 48px 0 56px 0;
			.gom-title {
				@include txt(24);
			}
			&.marquee-banner {
                padding: 30px 0 40px;
                .partners-list {
                    .marquee-part {
                        gap: 10px 14px;
                        span {
                            width: 100px;
                            height: 40px;
                            &:nth-child(1),
                            &:nth-child(2) {
                                padding-left: 14px;
                            }
                        }
                    }
                }
            }
		}
	}
}
@include sm-mobile {
	#container {
		.inner {
			max-width: initial;
			padding-left: 16px;
			padding-right: 16px;
		}
		/*snb*/
		.snb-wrap {
			padding: 0 16px;
			& + .inner {
				padding: 0 16px;
			}
		}
	}
}
